.homeAndLivingBanner {
    width: 100%;
}

.homeAndLivingBanner div {
    width: 1270px ;
    margin: auto;
    padding: 40px 0 20px 0;
}

.homeAndLivingBanner img {
    width: 100%;
}
.imagesAndLinksSection{
    width: 100%;
}
.imagesAndLinksSectionText{
    display: flex;
    gap: 48.3%;
}
.imagesAndLinksSectionText div ul li, .linkOfItems ul li{
    padding-bottom: 5px;
}
.imagesAndLinksSectionText div ul li a,.imagesAndLinksSectionText ul li,.linkOfItems ul li a{
    font-size: 13px;
    color: #414141;
}
.imagesAndLinksSection h3{
    text-transform: uppercase;
    padding: 30px 30px 30px 50px;
    color: #3e4152;
    letter-spacing: 0.5px;
    font-size: 18px;
}
.imagesAndLinksSectionMiddle{
    width: 1270px;
    margin: auto;
    display: flex;
    gap: 1%;
}
.bedImages{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    flex-basis: 80%;
}
.bedImages div{
    flex-basis: 45%;
    overflow: hidden;
}
.bedImages img{
    width: 100%;
    transform: scale(1);
    transition: 3s;
}
.bedImages div:hover img{
    transform: scale(1.2);
    transition: 3s;
}
.linkOfItems{
    flex-basis: 18%;
}
.getInspireSection{
    width: 100%;
}
.getInspireSectionFullImageBanner{
    width: 100%;
    padding-top: 25px;
}
.getInspireSectionFullImageBanner img{
    width: 100%;
}
.getInspireThreeImagesRow{
    background-color: #efeded;
    position: relative;
    top: -3px;
    width: 100%;
}
.getInspireThreeImagesRowMiddle{
    width: 1270px;
    margin: auto;
    display: flex;
}
.getInspireThreeImagesRowMiddle div{
    flex-basis: 33.33%;
    overflow: hidden;
}
.getInspireThreeImagesRowMiddle img{
    width: 100%;
    padding-bottom: 50px;
    transform: scale(1);
    transition: 3s;
}
.getInspireThreeImagesRowMiddle div:hover img{
    transform: scale(1.2);
    transition: 3s;
}
.featuredBraqndSection
{
width: 100%;
padding: 80px 0;
}
.featuredBrandsHeading h4{
text-transform: uppercase;
padding-left: 55px;
padding-bottom: 12px;
font-size: 35px;
letter-spacing: 3px;
}
.featuredBrandsFiveImagesRow{
    
    width: 1270px;
    margin: auto;
}
.featuredBrandsFiveImagesRowMiddle{
    display: flex;
    gap: 1%;
}
.featuredBrandsFiveImagesRowMiddle div{
    flex-basis: 19%;
    overflow: hidden;
}
.featuredBrandsFiveImagesRowMiddle img{
    width: 100%;
    transform: scale(1);
    transition: 3s;
}
.featuredBrandsFiveImagesRowMiddle :hover img{
    transform: scale(1.2);
    transition: 3s;

}
