*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Pinyon Script", cursive;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    line-height: 1.6;
    padding: 20px;
}