* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background: #ffffff;
    font-family: "Roboto", sans-serif;
}

/* Header Section Start */
.headerContainer {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 3px 8px 0 #F7F7F7;
    position: sticky;
    top: 0;
    z-index: 33;
}

.headerMiddle {
    width: 1270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5%;
    background-color: #ffffff;
}

.headerLogo {
    flex-basis: 4.9%;
}

.headerLogo img {
    width: 100%;
}

.headerMenu {
    flex-basis: 50%;
}

.headerMenu ul {
    display: flex;
    gap: 7%;
    align-items: center;
}

.headerMenu ul li {
    font-size: 12px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

.headerMenu ul li a {
    letter-spacing: 1px;
    color: #424657;
}

.headerSearch {
    background-color: #F5F5F6;
    flex-basis: 29%;
    padding: 10px;
    border-radius: 5px;
}

.headerSearchIcon {
    padding-left: 5px;
    color: #BFC0C9;
    font-size: 15px;
}

.headerSearchInput {
    border: none;
    outline: none;
    color: #959D95;
    padding-left: 15px;
    width: 90%;
    background-color: #F5F5F6;
}

.headerIcons {
    flex-basis: 13%;
    display: flex;
    justify-content: space-around;
}

.headerIconCommon {
    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
    color: #A7A9B0;

}

.common {
    text-align: justify;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    color: #333;
}

/* Header Section End */
/* Flat Discount Section Start */
.flatDiscount {
    width: 100%;
}

.flatDiscountImage {
    padding-top: 22px;
    padding-bottom: 12px;
    width: 1270px;
    margin: auto;
}

.flatDiscountImage img {
    width: 99%;
}

/* Flat DiscountSection End */
/* Sale Banner Section Start */
.saleBannerSection {
    width: 100%;
    position: relative;
}

.saleBannerMiddle {
    width: 1270px;
    margin: auto;
    display: flex;
}

.saleBannerImage {
    flex-basis: 100%;
}

.saleBannerImage img {

    width: 99.80%;
}

/* Sale Banner Section End */
/* <!-- Co-Power Section Start  --> */
.coPowerSection {
    width: 100%;
}

.coPowerSectionMiddle {
    display: flex;
    width: 1270px;
    margin: auto;
}

.coPowerSectionImages {
    flex-basis: 33.33%;
}

.coPowerSectionImages img {
    width: 99.80%;
    position: relative;
    top: -4px;
    left: 0px;
}

/* <!-- Co-Power Section End  --> */
/* Bank Section Start */
.bankSection {
    width: 100%;
}

.bankSectionMiddleImage {
    width: 1270px;
    margin: auto;
}

.bankSectionMiddleImage img {
    width: 99.85%;
    position: relative;
    top: -8px;
}

/* Bank Section End */
/* Super Saver Section Start */
.superSaverSection {
    width: 100%;
    padding-bottom: 15px;
}

.superSaverSectionMiddleImage {
    width: 1270px;
    margin: auto;
}

.superSaverSectionMiddleImage {
    width: 100%;
}

.superSaverSectionMiddleImage img {
    width: 100%;

}

/* Super Saver Section End */
/* <!-- Super Saver Sidlier Section Start --> */
.superSaverSidlierSection {
    width: 100%;
    padding-bottom: 32px;
}

.superSaverSidlierSectionMiddleImage {
    display: flex;
    width: 1270px;
    margin: auto;
}

.superSaverSidlierSectionMiddleImageItems {
    flex-basis: 20%;
}

.superSaverSidlierSectionMiddleImageItems img {
    width: 100%;
}

/* <!-- Super Saver Sidlier Section End --> */
/* Price Crash Section Start */
.priceCrashSection {
    width: 100%;
    padding-bottom: 12px;
}

.priceCrashSectionMiddleImage {
    margin: auto;
    width: 1270px;
}

.priceCrashSectionMiddleImage img {
    width: 100%;
}

/* Price Crash Section End */
/* <!-- Shop by Category Sidlier Section Start --> */
.shopCategorySidlierSection {
    width: 100%;
    padding-bottom: 50px;
}

.shopCategorySidlierSectionMiddleImage {
    width: 1270px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopCategorySidlierSectionMiddleImageItems {
    flex-basis: 16%;
}

.shopCategorySidlierSectionMiddleImageItems img {
    width: 100%;
}

/* <!-- Shop by Category Sidlier Section End --> */
/* Footer Section Start  */
.footerSection {
    background-color: #fafbfc;
    width: 100%;
}

.footerSectionMiddle {
    width: 1170px;
    margin: auto;
    padding-top: 40px;
}

.footerLinksAndSocialIcon {
    display: flex;
    padding-left: 40px;
    padding-bottom: 16px;
}
.footerLinksAndSocialIcon div{
    flex-basis: 16%;
}
.footerLinksAndSocialIcon a{
    color: #767885;
    font-size: 12px;
}
.footerLinksAndSocialIcon h6{
    padding-bottom: 20px;
    padding-top: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.myntraApps{
    color: #383839;
}
.footerLinksAndSocialIcon ul li{
    padding-bottom: 7px;
}
.appsLinkAndIcon{
    display: flex;
    width: 42%;
    gap: 10%;
    padding-left: 3px;
}
.apps{
    width: 120px;
    height: 44px;
}
.socialIcons{
    display: flex;
    justify-content:start;
    gap: 5%;
    padding-left: 3px;
}
.socialIcons div{
    flex-basis: 10%;
}
.socialIcons div img{
    width: 100%;
    height: 75%;
}
.returnPicture,.originalPicture{
    display: flex;
    padding-left: 73px;
    gap: 10%;
}
.garenttyPicture{
    width: 80px;
    height: 50px;
}
.paragrah{
    width: 240px;
    color: #767885;
}
.paragrah span{
    color: black;
    font-weight: bold;
}
.lastFooterParagrah{
    text-align: center;
    padding: 20px 0;
}
/* Footer Section End  */